<!DOCTYPE html>
<html>
<head>
  <meta charset = "ISO-8859-1" />
  <link href = "static.css/styles.css" rel = "stylesheet"/>
  <title>Deposit Transaction</title>
</head>
<style>
*{
padding:0
margin:0
}
  h4 {
  color:red;
  }
  .caintainer{
  width:100%;
  height:100%
      position: absolute;
    top: 0;
  }
  .parent{
      width: 40%;
    height: 200px;
    background: black;
    margin: auto;
    border-radius: 10px;
    padding:20px;
  }
  .chaild{
         display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chaild h4{
      color: #fff;
    font-family: sans-serif;
}
</style>
<body>
<div class="caintainer">
  <div class="parent">
    <div class="chaild">
      <h4>TransactionId : ${trxn_id}</h4>
      <h4>Your Deposit Transaction is Acknowledged.</h4>
      <h4>Deposit Successful</h4>
      </a>
    </div>
  </div>
</div>

</body>
</html>
